@font-face {
  font-family: "rational";
  src: url(../fonts/Rationale-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "rational";
}

body {
  background-color: #000;
}

.logo {
  width: 100px;
  height: 50px;
}

.nav__link {
  display: inline-flex;
  justify-content: center;
  width: 35px;
  background-color: #fff;
  margin: 0 10px;
  position: relative;
  left: 55px;
  padding: 17.5px;
  text-decoration: none;
  font-size: 1.35rem;
  color: #ffa111;
  border-radius: 0 0 6px 6px;
}

.nav__link:hover {
  color: #000;
}

.actived {
  background-color: #ffa111;
  color: #fff;
}

.actived::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #ffa111;
}

.radio-button {
  display: none;
}

.slide__button-show-more {
  position: absolute;
  top: 87%;
  left: 70%;
}
